@import "general.css";

a.logo_font{
    font-family: 'Shizuru', cursive;
    text-decoration: none;
}

.login_container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #FFEBCD;
    margin: -10px;
}
.login_logo{
    font-size: xx-large;
}
.logo_container{
    height:200px;
    align-self: center;
}
.login_section{
    height: 300px;
    width: 400px;
    align-self: center;
    justify-self: flex-start;
    border: chocolate;
    border-width: 0.5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    gap: 10px;
}
.login_input{
    border-radius: 5px;
    border: 2px solid #B8860B;
    width : 200px;
}
.login_button{
    background-color : #D2691E;
    margin-top : 30px;
    border: 1px solid #B8860B;
    border-radius: 5px;
    width: 100px;
}
.register_link{
    justify-self: bottom;
    font-size: small;
}

input[type="text"],input[type="password"]{ 
    line-height: 20px; 
}