.main_container{
    display:flex;
    height:auto;
    margin : -20px;
    background-color: rgb(230,230,230);
}
.container{
    display : flex;
    flex-direction: column;
    height:100%;
    min-width: none;
    width: 100%;
    padding: 20px 20px 0px 20px;
 }

 .ads{
    display: flex;
    align-content: center;
    width:auto;
 }

 .ad_item{
    margin:10px;
    flex: 1 1 auto;
 }

 .ad_img{
    object-fit: fill;
 }

.promo{
    display:flex;
    padding:10px;
    width: 100%;
}
.promo_item{
    display:flex;
    width:50%;
    height:auto;
    flex-wrap: nowrap;
    padding-right: 30px;
}

 .promo_img{
     padding-right:10px;
     height:100%;
     width:100%;
     object-fit: fill;
     flex-grow: 2;
 }
 .promo_info{
    flex-grow: 1;
    width:auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
 }
 .promo_name{
     font-size: 3em;
     padding: 10px;
 }
 .old_price{
    font-size: 1.5em;
    text-decoration: line-through;
    padding:5px;
}
 .new_price{
     font-size: 2em;
     color:brown;
     padding:5px;
 }
 .reviews{
     display: flex;
     flex-direction: column;
     font-size: 25px;
     text-align: bottom;
     
 }
 .description{
     border-top: 1px solid black;
     margin-top: 20px;
     padding-top: 20px;
 }
 .ad_img{
     object-fit: fill;
     width: 100%;
     height: 100%;
 }
.event{
    padding:10px;
}
 .event_img{
     object-fit: fill;
     width: 100%;
 }