body{
    color : #D2691E;
}
a:link{
    color : black;
}
a:visited { 
    color:black;
}
a:hover { 
    color:black;
}
a:active { 
    color:#A9A9A9;
}
a.logo_font{
    font-family: 'Shizuru', cursive;
    text-decoration: none;
    margin-left: 10px;
    width : 100px;
}
.top_bar{
    display : grid;
    grid-template-columns: 200px auto 100px 100px;
    margin : -10px -10px 0px -10px;
    height:75px;
    background: #D2691E;
    align-items: center;
    grid-template-areas:
    "logo search account cart";
}
.search_bar{
    grid-area: "search";
    display : grid;
    grid-template-columns: 6fr 2fr;
}
.search_bar > input[type=text]{
    height : 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 0px;
    border-bottom: 2px solid #B8860B;
    border-top: 2px solid #B8860B;
    border-left: 2px solid #B8860B;
    border-right: 0px;
    font-size : 15px;
    font-family: 'Poppins', sans-serif;
}
.search_bar > button[type=button]{
    height : 31px;
    width : 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 0px;
    border-bottom: 2px solid #B8860B;
    border-top: 2px solid #B8860B;
    border-right: 2px solid #B8860B;
    border-left: 0px;
    cursor : pointer;
}
.account_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    grid-area: "account";
 }

 .shopping_cart{
    align-items: center;
    position:relative;
    cursor: pointer;
    text-decoration: none;
    grid-area: "cart";
 }
 .main_container{
    background-color: #FFEBCD;
    margin : 0px -10px -10px -10px;
    height: 1075px;
    width: auto;
    display : grid;
    padding: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 150px;
 }
 .main_container > .advertisement .event .promotion{
    grid-gap: 10px;
 }
 .category{
    grid-area: 1/1/auto/2;
 }
 .advertisement .event .promotion{
    grid-column: 2/4;
 }
 
